# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
.swiftpm/

# CocoaPods / Carthage (not used here, but safe to ignore)
Pods/
Carthage/Build/
